*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  font-weight: 400;
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(28, 35, 43);
  --cream: rgb(242, 234, 226);
  --green: rgb(61, 129, 104);
  --dark-green: rgb(26, 64, 50);
  --grey: rgb(108, 114, 137);

  --font-fraunces: "Fraunces", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --preset-1-size: 32px;
  --preset-1-line-height: 100%;
  --preset-1-font-weight: 700;
  --preset-2-size: 14px;
  --preset-2-line-height: 110%;
  --preset-2-font-weight: 700;
  --preset-3-size: 14px;
  --preset-3-line-height: 160%;
  --preset-4-size: 12px;
  --preset-4-line-height: 120%;
  --preset-4-letter-spacing: 5px;
  --preset-5-size: 13px;
  --preset-5-line-height: 120%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-grid {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--cream);
}

.item-card {
  display: flex;
  flex-direction: column;
  width: clamp(100px, 90vw, 350px);
  height: min-content;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--white);
}

.item-pic {
  width: 100%;
  height: min-content;
}

.item-pic img {
  width: 100%;
  height: auto;
}

.item-cart-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
}

.cart-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
}

.item-type {
  font-family: var(--font-montserrat);
  font-size: var(--preset-4-size);
  line-height: var(--preset-4-line-height);
  letter-spacing: var(--preset-4-letter-spacing);
  color: var(--grey);
}

.item-name {
  font-family: var(--font-fraunces);
  font-size: var(--preset-1-size);
  font-weight: var(--preset-1-font-weight);
  line-height: var(--preset-1-line-height);
  color: var(--black);
}

.item-desc {
  font-family: var(--font-montserrat);
  font-size: var(--preset-3-size);
  line-height: var(--preset-3-line-height);
  color: var(--grey);
}

.item-price-container{
    display: flex;
    align-items: center;
    gap: 16px;
}

.item-price-discounted {
  font-family: var(--font-fraunces);
  font-size: var(--preset-1-size);
  font-weight: var(--preset-1-font-weight);
  line-height: var(--preset-1-line-height);
  color: var(--green);
}

.item-price-actual{
    font-family: var(--font-montserrat);
    font-size: var(--preset-5-size);
    line-height: var(--preset-5-line-height);
    color: var(--grey);
    text-decoration: line-through;
}

.item-add-to-cart{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px;
    align-items: center;
    border-radius: 8px;
    gap: 8px;
    background-color: var(--green);
}

.item-add-to-cart:hover{
    background-color: var(--dark-green);
}

.item-add-to-cart span{
    font-family: var(--font-montserrat);
    font-size: var(--preset-2-size);
    line-height: var(--preset-2-line-height);
    font-weight: var(--preset-2-font-weight);
    color: var(--white);
}